*,
.html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(184, 82, 82);
}

.container-navbar {
    background-color: rgb(37, 36, 36);
    height: 10vh;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    font-family: "poppins", sans-serif;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar:hover {
    background-color: rgb(66, 55, 55);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.a-navbar {
    text-decoration: none;
    color: rgb(192, 176, 135);
}

.li-navbar1 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar1:hover {
    background-color: rgb(111, 113, 32);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.a-navbar1 {
    border: 2px solid white;
    padding:5px;
    background-color: whitesmoke;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 20px;
    color: rgb(75, 189, 18);
}

.container-content {
    background-color:brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.li-content {
    display: flex;
    background-color: brown;
    font-size: 15px;
    text-align: center;
    color: rgb(192, 176, 135);
}

.a-content1 {
    color: rgb(192, 176, 135);
}

.background-content {
    position: relative;
    display: flex;
    justify-content: left0;
    align-items: left;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.coffe {
    position: absolute;
    width: 240px;
    height: 120px;
    top: 120px;
    left: 360px;
}

.h1-content {
    color: rgb(219, 159, 9);
}

.li1-content {
    position: absolute;
    top: 250px;;
    left: 360px;
    list-style: none;
}
