*,
.html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: none;
}

.container-navbar {
    background-color: rgb(37, 36, 36);
    height: 10vh;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    font-family: "poppins", sans-serif;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar:hover {
    background-color: rgb(66, 55, 55);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.a-navbar {
    text-decoration: none;
    color: rgb(192, 176, 135);
}

.li-navbar1 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar1:hover {
    background-color: rgb(111, 113, 32);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.li-navbar2 {
    display: flex;
    position: relative;
    list-style: none;
    align-items: center;
    font-family: "poppins", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    left: -240px;
}

.li-navbar2 span {
    display: flex;
    position: relative;
    list-style: none;
    align-items: center;
    font-family: "poppins", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: rgb(206, 196, 9);
}

.a-navbar1 {
    border: 2px solid white;
    padding:5px;
    background-color: whitesmoke;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 20px;
    color: rgb(75, 189, 18);
}

.container-content {
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.li-content {
    background-color: none;
    font-size: 15px;
    text-align: center;
    color: rgb(192, 176, 135);
}

.a-content1 {
    color: rgb(192, 176, 135);
}

.background-content {
    position: relative;
    display: flex;
    justify-content: left0;
    align-items: left;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.coffe {
    position: absolute;
    text-align: justify;
    width: 240px;
    height: 140px;
    top: 145px;
    left: 360px;
}

.h1-content {
    color: rgb(219, 159, 9);
}

.li1-content {
    position: absolute;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    width: 330px;
    top: 290px;
    left: 370px;
    font-size: 8px;
    list-style: none;
}

.espreso {
    position: absolute;
    text-align: justify;
    width: 360px;
    height: 240px;
    top: 60px;
    right: 120px;
}

.li2-content {
    position: absolute;
    display: flex;
    width: 330px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    top: 290px;
    right: 125px;
    list-style: none;
    font-size: 8px;
}

.h11-content {
    list-style: none;
}