*,
.html {
    margin: 0;
    padding: 0;
}

.container {
    background-color:none;
}

.container-navbar {
    background-color: rgb(37, 36, 36);
    height: 10vh;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    font-family: "poppins", sans-serif;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar:hover {
    background-color: rgb(66, 55, 55);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.a-navbar {
    text-decoration: none;
    color: rgb(192, 176, 135);
}

.li-navbar1 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar1:hover {
    background-color: rgb(111, 113, 32);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.a-navbar1 {
    border: 2px solid white;
    padding:5px;
    background-color: whitesmoke;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 20px;
    color: rgb(75, 189, 18);
}

.container-content {
    background-color: none;
    display: flex;
    justify-content: left;
    height: 90vh;
}

.li-content {
    font-size: 25px;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.a-content1 {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.img-content {
    display: flex;
    text-decoration: none;
    width: 50%;
    height: 100%;
    backdrop-filter: blur (50px);
    background: linear-gradient(
        to right
        transparent,
         rgba(255, 255, 255, 0.2)
        );
}