*,
.html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(184, 82, 82);
}

.container-navbar {
    background-color: rgb(37, 36, 36);
    height: 10vh;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-navbar {
    text-decoration: none;
    color: rgb(192, 176, 135);
}

.li-navbar {
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar:hover {
    background-color: rgb(66, 55, 55);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.container-content {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.text-content {
    position: absolute;
    color: rgb(235, 191, 71);
    align-items: center;
    justify-content: center;
}
