*,
.html {
    margin: 0;
    padding: 0;
}

.container {
    background-color:none;
}

.container-navbar {
    background-color: rgb(37, 36, 36);
    height: 10vh;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    font-family: "poppins", sans-serif;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar:hover {
    background-color: rgb(66, 55, 55);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.li-navbar2 {
    display: flex;
    position: relative;
    list-style: none;
    align-items: center;
    font-family: "poppins", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    left: -240px;
}

.li-navbar2 span {
    display: flex;
    position: relative;
    list-style: none;
    align-items: center;
    font-family: "poppins", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: rgb(206, 196, 9);
}

.a-navbar {
    text-decoration: none;
    color: rgb(192, 176, 135);
}

.li-navbar1 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    padding : 10px;
    margin : 5px;
    color: rgb(192, 176, 135);
}

.li-navbar1:hover {
    background-color: rgb(111, 113, 32);
    transition: .3s ease-in-out;
    transition-delay: .5s;
    border-radius: 8px;
}

.a-navbar1 {
    border: 2px solid white;
    padding:5px;
    background-color: whitesmoke;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 20px;
    color: rgb(75, 189, 18);
}

.container-content {
    display: flex;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 76vh;
    justify-content: center;
    align-items: center;    
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 120px;
}

.container-footer {
    background-color: rgb(23, 22, 22);
    display: flex;
    height: 9vh;
    font-family: "poppins", sans-serif; 
    color: rgb(192, 176, 135); 
    font-size: 12px;
    justify-content: center;
    align-items: center;
}